@font-face {
	font-family: 'Conv_ProximaNova-Regular';
	src: url(../../assets/fonts/ProximaNova-Regular.eot) format('embedded-opentype'),
	url(../../assets/fonts/ProximaNova-Regular.woff) format('woff'),
	url(../../assets/fonts/ProximaNova-Regular.ttf) format('truetype'),
	url(../../assets/fonts/ProximaNova-Regular.svg) format('svg');
	font-weight: normal;
	font-style: normal;
}